
<app-sidebar></app-sidebar>

<div class="dashboard-content px-3 pt-4">
    <h1>  Bienvenidos a MindSecure </h1>
    <p>En esta plataforma podras dar el siguiente paso a mejorar tu vida, hablar y consultar con Profesionales
        de la salud que te ayudaran a construir la mejor version de ti mismo.
    </p>


    <section class="eventos">
        <div class="title">
          <h1>Nuestros servcios</h1>
          <div class="line"></div>
        </div>
    
        <div class="row">
          <div class="col">
            <img src="\assets\photo1.jpg" alt="" width="300px" height="300px">
            <h4>Consulta profesional</h4>
            <p>Te ofrecemos servicios de consultas a profesionales dedicados al area de la salud mental, tenemos profesionales de todo el mundo.
              asi puedes ver el horario del profesional y contactarte con el. </p>
            </div>
            <div class="col">
              <img src="\assets\chatting.png" alt="fondo" width="300px" height="300px">
              <h4>Chat automatico</h4>
              <p>Como paciente puedes chatear con un bot para hacerle preguntas que son frecuentes,
                tambien tienes la opcion de tener una conversacion en chat con un profesional de la salud mental que este disponible en el momento.</p>
              </div>
              <div class="col">
                <img src="\assets\group.jpg" alt="" width="300px" height="300px">
                <h4>Grupo de apoyo</h4>
                <p>Unete a grupos de apoyos en el que intercambiarás opiniones con otras personas sobre diversos temas,
                  que esten relacionados con lo que estas pasando y con un profesional a cargo para que todo fluya de forma efectiva.</p><br>
                </div>
        </div>

        <br><br><br>
        <div class="dashboard-content2 px-3 pt-4">
            <h1 class="fs-5">Razones para acudir a consultas profesionales: </h1>
             
                <ul>
                    <li>Tienes pensamientos dañinos</li>
                    <li>Te estas retirando de las cosas que solian gustarte</li>
                    <li>Te sientes aislado o solo</li>
                    <li>Sospechas que podrias tener una afecion grave mental</li>
                    <li>Sientes que has pedirdo el control</li>
                    <li>Tus relaciones se sienten tensas</li>
                    <li>Simplemente sientes que necesitas hablar con alguien</li>
                </ul>
        </div> 


      </section>

</div>



<div class="content"></div>
