<app-sidebar></app-sidebar>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92" crossorigin="anonymous">
</head>
<body>
  <header>
        <!-- <img src="\assets\festividad.png" class="image" alt="" width="1500px" height="700px"> -->
            
  </header>
  <div class="dashboard-content px-3 pt-4">
  <!-- Info MindSecure -->
  <section class="encabezado">
    <div class="col-md-8 offset-md-2"> 
      
      <h1>Acerca de MindSecure</h1>
        <p class="card-text">
          MindSecure es una plataforma de salud mental orientada a ayudar a personas a sacar su mejor potencial, 
          aprender a conocerce a si mismos, y lograr superar situaciones en las que estan sufriendo. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Officiis <br>libero asperiores veniam animi sapiente odio iure provident ea voluptates aliquid? Necessitatibus excepturi,
          tenetur mollitia saepe ipsam enim laborum ut blanditiis?
          <br><br></p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
             <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>  
    </div>
  
    </div>
  </section>
          <br><br>
  <!--Info tipos de terapia  -->
          <section class="tipos-terapia" id="tipos-terapia">
            <br>
            <div class="container">

              <h1>Tipos de terapia en MindSecure</h1>
            <p class="card-text">
              MindSecure brinda diferentes tipos de terapias para trabajar en los pacientes segun las situaciones que presentan, ese plan y la eleccion del tipo de terapia lo presenta el profesional despues de evaluar a el paciente con su situacion. </p>
          
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" style="width: 20px;">
                  <!-- <div class="icon"><i class="bi bi-briefcase"></i></div> -->
                  <h4 class="title">Terapia psicoanalítica </h4>
                  <p class="description">Es un proceso terapéutico que intenta resolver los problemas psicológicos de las personas teniendo en cuenta los pensamientos y las emociones.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-card-checklist"></i></div>
                  <h4 class="title">Terapia cognitivo-conductual</h4>
                  <p class="description">s un tipo frecuente de terapia del habla. Trabajas con un asesor de salud mental de forma estructurada, asistiendo a una cantidad limitada de sesiones.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"><i class="bi bi-bar-chart"></i></div>
                  <h4 class="title">Terapia Humanista</h4>
                  <p class="description">Las terapias humanistas son un conjunto de terapias que tienen como objetivo principal ayudar a los pacientes a que descubran sus fortalezas y puedan alcanzar la realización personal.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon"><i class="bi bi-binoculars"></i></div>
                  <h4 class="title">Terapia sistémica</h4>
                  <p class="description">La terapia sistémica entiende los problemas desde marco contextual y se focaliza en comprender y cambiar las dinámicas de las relaciones (familiares, laborales, etc.).</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  <h4 class="title">Terapia Gestalt</h4>
                  <p class="description">La terapia Gestalt es una psicoterapia que enfatiza la responsabilidad personal y se enfoca en la experiencia del individuo en el momento presente, la relación terapeuta-paciente.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                  <h4 class="title">Terapia breve centrada en soluciones</h4>
                  <p class="description">a Terapia Breve centrada en soluciones se basa en el principio de que visualizar o imaginar una alternativa viable es lo que es necesario para iniciar el proceso natural del cambio.</p>
                </div>
              </div>
      
            </div>
            <br><br><br><br><br>
          </section>
  <br><br>
  
  <!-- Info salud mental -->
  <section class="salud-mental">
    <div class="col-md-8 offset-md-2"> 
      
      <h1>Acerca de MindSecure</h1>
        <p class="card-text">
          MindSecure es una plataforma de salud mental orientada a ayudar a personas a sacar su mejor potencial, 
          aprender a conocerce a si mismos, y lograr superar situaciones en las que estan sufriendo. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Officiis <br>libero asperiores veniam animi sapiente odio iure provident ea voluptates aliquid? Necessitatibus excepturi,
          tenetur mollitia saepe ipsam enim laborum ut blanditiis?
          <br><br></p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
             <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>  
    </div>
  
    </div>
  </section>
  
</div>
<br><br><br>


<div class="content"></div>


  
</body>
</html>
