<app-sidebar></app-sidebar>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92" crossorigin="anonymous">
</head>
<body>
  <header></header>
  <div class="dashboard-content px-3 pt-4">
  
    <!-- Profesionales MindSecure -->
  <section class="prof-mindsecure">
    <div class="col-md-8 offset-md-2" > 

        <h2>Profesionales MindSecure</h2>
        <br>
        
        <div class="col-sm -8">
          <div class="card">
            <div class="card-body">
              <img src="\assets\maria-villa.jpeg" class="img-fluid" alt=""  width="200px" height="200px">
              <h4 class="card-title"><strong>María Villaseñor Camacho</strong></h4>
              <h5>Mtra. en Desarrollo Humano</h5>
              <p><strong>Especialista en:</strong>  
              <br>-Terapia de pareja
              <br>-Coaching de vida
              <br>-Depresión
              </p>
              <br>
               <p class="card-text">
                <br> La psicóloga María Villaseñor es Licenciada en Psicología por la Universidad Autónoma de México y cuenta con un Máster en Desarrollo Humano por la Universidad Motolinía del Pedregal.
                <br>
                Su intervención se adapta desde la primera sesión a las necesidades de cada cliente y algunas de sus principales especialidades son el alcoholismo, la codependencia, los conflictos familiares, las dificultades escolares, la baja autoestima o los procesos de divorcio.                
              </p>
              <a href="#" class="btn ">Hacer cita</a>
            </div>
          </div>
        </div>
      
          <div class="col-sm-5">
            <div class="card">
              <div class="card-body">
                <img src="\assets\maria-luisa.jpg" class="img-fluid" alt=""  width="200px" height="200px">
                <h4 class="card-title"><strong>María Luisa Vallejo Torres</strong></h4>
                <h5>Psicólogo, Psicólogo infantil</h5>
                <p><strong>Especialista en:</strong>  
                <br>-Trastornos de Ansiedad
                <br>-Trastornos Adictivos
                <br>-Terapia de Pareja
                </p>
                <br>
                 <p class="card-text">
                  Esta psicóloga tiene ya casi 20 años de experiencia en el terreno de la psicología, ya que se licenció en el año 2000 en Psicología por la Universidad de Jaén. <br>
                  A través del paradigma de la psicoterapia cognitivo conductual, esta psicóloga es capaz de dar tratamiento a trastornos mentales tanto a niños,
                   adolescentes y adultos que se encuentren con problemas de depresión, estrés y fobias, entre otras alteraciones comunes.
                </p>
                <a href="#" class="btn ">Hacer cita</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card">
              <div class="card-body">
                <img src="\assets\maripaz.jpg" class="img-fluid" alt=""  width="200px" height="200px">
                <h4 class="card-title"><strong>Maripaz Rinconada Lorenzo</strong></h4>
                <h5>Terapeuta Cognitivo-Conductual</h5>
                <p><strong>Especialista en:</strong>  
                <br>-Trastornos alimenticios
                <br>-Depresión
                <br>-Psicoterapia
                </p>
                <br>
                 <p class="card-text">
                  Esta psicóloga se licenció en la Universidad de Sevilla en 2004, y tras ello cursó el máster en terapia de conducta, entre otros programas de formación de posgrado.
                  <br>
                  Si tienes problemas tan comunes en la sociedad como el estrés, los trastornos de ansiedad, o las fobias. Maripaz es una buena opción con la que cuentas en esta ciudad.
                  <br>
                </p>
                <a href="#" class="btn ">Hacer cita</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-5">
            <div class="card">
              <div class="card-body">
                <img src="\assets\victor-perez.jpeg" class="img-fluid" alt=""  width="200px" height="200px">
                <h4 class="card-title"><strong>Víctor Fernando Pérez López</strong></h4>
                <h5>Psicóloga General Sanitaria</h5>
                <p><strong>Especialista en:</strong>  
                <br>-Ideaciones suicidas
                <br>-Estrés
                <br>-Depresión
                </p>
                
                 <p class="card-text">
                  El psicólogo Víctor Fernando Pérez es Licenciado en Psicología por la Universidad del Valle de Atemajac, tiene una Especialidad en Terapia Breve Sistémica por el Instituto Milton H. Erickson de Guadalajara y cuenta con una Certificación en Coaching Transformacional.
                  <br>
                  Su intervención es de naturaleza integradora y se basa en la aplicación conjunta del enfoque cognitivo-conductual junto a otras orientaciones como el Coaching o la Terapia Humanista, con las cuales atiende las adicciones de todo tipo, la ansiedad, la depresión, el estrés, la baja autoestima y la violencia de género.

                </p>
                <a href="#" class="btn ">Hacer cita</a>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="card">
              <div class="card-body">
                <img src="\assets\miguel-caamal.jpg" class="img-fluid" alt=""  width="200px" height="200px">
                <h4 class="card-title"><strong>Miguel A. Caamal Martín</strong></h4>
                <h5>Doctor, psicologo</h5>
                <p><strong>Especialista en:</strong>  
                <br>-Conflictos familiares
                <br>-Adicciones
                <br>-Codependencia
                <br>-Abuso de sustancias
                </p>
                
                 <p class="card-text">
                  El psicólogo Miguel Angel Caamal es Licenciado en Psicología por la Universidad Autónoma de Yucatán, tiene un Máster en Psicología Clínica de Adultos, un Grado Superior en Terapia de Pareja con Enfoque Relacional y cuenta también con Diplomados en Terapia EMDR y en Psicoterapia Humanista.
                  <br>
                  Este profesional es especialista en atender de manera online los conflictos familiares, la baja autoestima, el alcoholismo, la codependencia, las crisis de pareja y el abuso de sustancias.
                </p>
                <a href="#" class="btn ">Hacer cita</a>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="card">
              <div class="card-body">
                <img src="\assets\lucia-vargas.jpg" class="img-fluid" alt=""  width="200px" height="200px">
                <h4 class="card-title"><strong>Lucía Vargas</strong></h4>
                <h5>Psicóloga General Sanitaria</h5>
                <p><strong>Especialista en:</strong>  
                <br>-Psicoterapia para Adultos
                <br>-Trastornos de Ansiedad 
                <br>-Trastornos en Niños y Adolescentes
                </p>
                <br>
                 <p class="card-text">
                  Esta psicóloga se licenció en la Universidad de Jaén en el año 2009. Además de este grado, Lucía Vargas tiene también en su haber dos másters. Uno en formación de formadores y otro en sexología y terapia de pareja.
                  <br>
                  Gracias a esta formación esta psicóloga es experta en tratar problemas emocionales y alteraciones mentales como los trastornos sexuales y de pareja, los problemas de autoestima y casos de trastornos alimenticios, entre otros.
                </p>
                <a href="#" class="btn ">Hacer cita</a>
              </div>
            </div>
          </div>
        
    </div>
  </section>
</div>  
</body>
</html>
