header{
    width: 100vw;
    height: 100vh;
    background-image: url('src\assets\minds.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

/* Acerca de MindSecure section */
  .about-mindsecure h2{
  
  align-items: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.about-mindsecure p{
  text-align:justify;
  justify-content: center;
}

.about-mindsecure .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #3c72c2;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
  float: left;
}

.about-mindsecure .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

/* tipos-terapia section */

.tipos-terapia{
  width: 100vw;
  height: 110vh;
  background-color: #f0f7fa;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tipos-terapia h2{
  align-items: center;
  font-weight: bold;
  justify-content: center;
  display: flex;

}

.tipos-terapia p{
  margin-bottom: 2%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: justify;
}


.tipos-terapia h4{
  margin-top: 25px;
  align-items: center;
  font-weight:500;
  justify-content: center;
  display: flex;

}

/* Info salud mental */
.salud-mental{
  padding-left: 100px;
  
}
.salud-mental h2{
  align-items: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
}


.salud-mental img{
  justify-content: center;
  display: flex;
  margin-left: 300px;
}
.salud-mental  .card{
  margin-top: 20px;
  margin-left: 100px;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  text-align: justify;
  border-color: #149ddd;
  margin-bottom: 5px;
}
